header{
    text-align: center;

}
h1{
    padding: 15px;
}
main{
    text-align: center;
}
input{
    height: 40px;
    width: 160px;
    padding: 10px;
}
#submit{
    width: 100px;
    height: 40px;
}
/* section{
    background-color: blue;
    margin: 30px auto;
    width: 800px;
    
} */

ul{
    /* width: 700px; */
    text-align: center;
    margin: 0 0;
    /* padding: 10px; */
    background-color: red;
}


li{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 8px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 0 0;
    list-style: none;
    height: 70px;
}

.score1{
    width: 50px;
    height: 40px;
    margin: 15px auto;
    border-radius: 70px;
    margin-bottom: 15px;
   
}

.score2{
    width: 50px;
    height: 40px;
    margin: 15px auto;
    border-radius: 70px;
    margin-bottom: 15px;
   
}
.fa-solid{
   margin-top: 5px;
    font-size: 40px;
margin-left: 10px;

}